<div class="hero-unit">
    <div class="container">
      <h1>Lansole, from Maria Lansole</h1>
      <p>&nbsp;</p>
      <p>Lansole is a toolkit based on Symfony 2 components to help building sites out of the box.<br />Find more about this toolkit and the available list of bundles in the about section.</p>
      <p>&nbsp;</p>
      <a class="btn primary large" href="{{ path('LansoleProjectBundle_homepage') }}#about">Learn more &raquo;</a>
    </div>
</div>