<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Lansole{% endblock %}</title>

        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="#">Lansole</a>
                    {% block navigation %}
                    <ul class="nav">
                        <li><a href="#">Overview</a></li>
                        <li><a href="#about">About</a></li>
                        <li class="active"><a href="{{ path('LansoleBlogBundle_homepage') }}">Blog</a></li>
                    </ul>
                    {% endblock %}
                </div>
            </div>
        </div>

        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
            <div class="container">
              <h1>Bundles, from Maria Lansole</h1>
              <p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
              <p><a class="btn primary large">Learn more &raquo;</a></p>
            </div>
        </div>

        <div class="container">
            <!-- Example row -->
            {% block body %}
            <div class="row">
              <div class="span16">
                  <h1>Heading</h1>
                  <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                  <p><a class="btn" href="#">View details &raquo;</a></p>
              </div>
            </div>
            {% endblock %}

            <footer>
              <p>&copy; Maria Lansole {{ "now"|date("Y") }}</p>
            </footer>

            {% block javascripts %}{% endblock %}
        </div> <!-- /container -->
    </body>
</html>
